*DS_Store
.vs/
.vscode/
.idea/

# .env file
.env

heimdall/config/*
!heimdall/config/app.toml
!heimdall/config/config.toml
!heimdall/config/genesis.json
!heimdall/config/heimdall-config.toml
heimdall/data/*
!heimdall/data/.gitkeep

bor/*
!bor/genesis.json
!bor/config.toml

!bor/chaindata
bor/chaindata/*
!bor/chaindata/.gitkeep