*DS_Store
.vs/
.vscode/
.idea/

# .env file
.env

heimdall/config/*
!heimdall/config/app.toml
!heimdall/config/config.toml
!heimdall/config/genesis.json
!heimdall/config/heimdall-config.toml
heimdall/data/*
!heimdall/data/.gitkeep