{$HOST}:9100 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy nodeexporter:9100
}

{$HOST} {
        basicauth /* {
                {$RPC_USERS}
        }
        reverse_proxy bor:8545
}